<div class="row">
  <div class="column_left">
    <h3>People using Trails</h3>
  </div>
  <div class="column_right">
    <%= button_to "New Person", new_person_path, method: :get %>
  </div>
</div>

<article class="cards">
<% @people.each do |person| %>
  <article class="card">
    <%= image_tag("user.png")%> <%= link_to person.name.capitalize, person %>
  </article>
<% end %>
</article>