<h3>People using Trails</h3>
<%= link_to "New Person", new_person_path %>
<ul>
  <% @people.each do |person| %>
    <li>
      <%= link_to person.name.capitalize, person %>
    </li>
  <% end %>
</ul>

<br>